.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.reset-button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.game-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-history h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-history ul {
  list-style-type: none;
  padding: 0;
}

.game-history li {
  margin-bottom: 5px;
}
